StudentManagement.Domain/obj/
StudentManagement/.vs/
StudentManagement/bin/
StudentManagement/obj/
StudentManagement.Application/obj/
StudentManagement.Application/bin/
StudentManagement.Domain/bin/
StudentManagement.Test/obj/
StudentManagement.Test/bin/
StudentManagement.IntegrationTest/bin/
StudentManagement.IntegrationTest/obj/
